{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
            </div>
			<div>
				<p>This is the base page for UsersBundle. I don't know how to avoid it</p>
			</div>
        </div>
    </div>
{% endblock %}
