{% extends 'base.html.twig' %}
{% block body %}
    {% for student in students %}
    <p>Name: {{ student.person.name }}</p>
    <p>Surname: {{ student.person.surname }}</p>
    <p>Gender: {{ student.person.gender }}</p>
    {% endfor %}
{% endblock %}
