{% extends 'base.html.twig' %}
{% block body %}
        <p>Name: {{ student.person.name }}</p>
        <p>Surname: {{ student.person.surname }}</p>
        <p>Gender: {{ student.person.gender }}</p>
{% endblock %}
