{% extends 'base.html.twig' %}
{% block body %}
<div class="row">
	<div class="medium-6 medium-centered large-4 large-centered columns">
	<h2>Alta de estudiante</h2>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	<input type="submit" value="Dar de alta" class="button expanded" />
	{{ form_end(form) }}
	</div>
</div>
{% endblock %}
