{% block subject 'Cambio en el artículo ' ~ title %}

{% block body_html %}
    <p>El artículo <strong>{{ title }}</strong> ha sido actualizado</p>
	<p>Atte.</p>
	<p>Monitor de mantenimiento</p>
{% endblock %}

{% block body_text %}
	
	El artículo {{ title }} ha sido actualizado.
	
	Atte.
	
	Monitor de mantenimiento
{% endblock %}

