{% block subject 'Nómina del mes de ' ~ month %}

{% block body_html %}
	<p>{% if payroll.getGender() == 'male' %}Estimado{% else %}Estimada{% endif %} {{ payroll.getName() }}:</p>
    <p>Te adjuntamos la nómina correspondiente al mes de <strong>{{ month }}</strong></p>
	<p>Atte.</p>
	<p>Departamento de Administración</p>
{% endblock %}

{% block body_text %}
    {% if payroll.getGender() == 'male' %}Estimado{% else %}Estimada{% endif %} {{ payroll.getName() }}:
	
	Te adjuntamos la nómina correspondiente al mes de {{ month }}
	
	Atte.
	
	Departamento de Administración
{% endblock %}
