/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/payroll/
/extras/
/web/assets/

src/Milhojas/WebUI/node_modules/

payroll-month-output.txt

web/assets/js/app.js

web/assets/css/app.min.css

web/assets/js/app.js

web/assets/js/app.js

web/assets/css/app.min.css
