<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('assets/css/app.min.css') }}" />
		{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
		{% block header %}
		<header class="main-header">
			<h1><small>Welcome to</small> Milhojas Intranet</h1>
			<p>Powered by Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</p>
		</header>
		{% endblock %}
		{% block body %}
		{% endblock %}
        {% block javascripts %}
		<script src="{{ asset('assets/js/app.js') }}"></script>
		{% endblock %}
        {% block pagescripts %}
		{% endblock %}
    </body>
</html>
