{% extends 'base.html.twig' %}
{% block body %}
<div class="row">
	<div class="medium-6 medium-centered large-4 large-centered columns">
	<h2>Envío de nóminas</h2>
	
	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
	</div>
</div>
{% endblock %}

