# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"
    database_test_user: test
    
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            71869bf57b5c5ad3691b6a41af10fa5d417245eb
    session.name:      MHSESSID
    
    # Authentication
    
    google.client_id:           ~
    google.client_secret:       ~
    google.hd:                  ~
    
    # Management
    
    payroll.sender:
        email@example.com: 'Payroll Sender'
    payroll.report:
        email@example.com: 'Payroll Report To'
    payroll.dataPath: "%kernel.root_dir%/../"
    staff.file: '%kernel.root_dir%/../'
    
    # It
    
    device.sender:     email@example.com
    device.report:     email@example.com
    
    # Contents
    
    contents.report:
        email@example.com: 'Contents Report To'
    contents.sender:
        email@example.com: 'Milhojas CMS'
    
    # Where are managed users stored
    users.file: '%kernel.root_dir%/../'
