{% extends 'base.html.twig' %}
{% block body %}
    <div class="row align-center">
        <div class="medium-6 medium-centered large-6 large-centered columns">
            <h2>Las nóminas se están distribuyendo</h2>
            <p>El proceso durará varios minutos y no es necesario que permanezcas en esta pantalla. Se enviará un email con el resultado.</p>
            <p>El cuadro inferior se actualiza automáticamente para mostrar el proceso de envío y sus resultados.</p>
        </div>
    </div>
    <div class="row align-center">

        <!-- Monitor progress is shown here -->
        <div class="medium-6 medium-centered columns">
            <p>
                <strong>Seguimiento del envío de nóminas.</strong>
            </p>

            <div id="payroll-control"></div>

        </div>
    </div>

{% endblock %}
{% block pagescripts %}
    <script src="/assets/js/vendor/react.js"></script>
    <script src="/assets/js/vendor/react-dom.js"></script>
    <script src="/assets/js/shared/progress-bar.js"></script>
    <script src="/assets/js/management/payroll-results.js"></script>

    <script type="text/javascript">
        ReactDOM.render(React.createElement(ProgressData, {exchange: "{{ path('exchange', {'file': 'management-payroll-reporter'}) }}", redirect: "{{ path('payroll-upload') }}"}), document.getElementById('payroll-control'));
    </script>
{% endblock %}
