{% block subject 'Devices status report' %}

{% block body_html %}
    <p>El dispositivo <strong>{{ device }}</strong> informa de las siguientes incidencias</p>
	<p>{{ details|nl2br }}</p>
	<p>Atte.</p>
	<p>Monitor de mantenimiento</p>
{% endblock %}

{% block body_text %}
	
	El dispositivo {{ device }} informa de las siguientes incidencias:
	
	{{ details }}
	
	Atte.
	
	Monitor de mantenimiento
{% endblock %}

