.main-header {
	background-color: $success-color;
	color: $white;
	padding: $global-padding;
	h1 {
		text-align: center;
	}
	
	p {
		text-align: center;
	}
}

@mixin stat-box ($color) {
	.header {
		background-color: $color;
		color: foreground($color, $white);
	}
	
	.body {
		background-color: scale-color($color, $lightness: +85%);
		color: $color;
		border-bottom: 2px solid $color;
	}
}
.stats-display {
	
	.header {
		background-color: $primary-color;
		color: $white;
		font: {
			size: $small-font-size;
			weight: bold;
		};
		text-align: center;
		height: 2em;
	}
	
	p {margin-bottom: 0;}
	
	.body {
		color: $black;
		font: {
			size: $stat-font-size;
			weight: bold;
		};
		text-align: center;
		background-color: scale-color($primary-color, $lightness: +75%);
	}
	
	&.alert {
		@include stat-box($alert-color);
	}

	&.success {
		@include stat-box($success-color);
	}
	&.warning {
		@include stat-box($warning-color);
	}

	&.info {
		@include stat-box($primary-color);
	}
	
	
}