table {
    background-color: $table-background;
    border          : 0;
    border-radius   : $table-radius $table-radius 0 0;
    border-collapse : separate;
    border-spacing  : 0;
    width           : 100%;
    font            : {
        family: $table-body-font;
        weight: normal;
    }

    thead {
        background-color: $black;

        th {
            padding: $table-padding;
            font   : {
                size  : $small-font-size;
                weight: normal;
            }
            color  : $white;

            &:first-child {
                border-radius: $table-radius 0 0 0;
            }

            &:last-child {
                border-radius: 0 $table-radius 0 0;
            }

            &:only-child-child {
                border-radius: $table-radius $table-radius 0 0;
            }
        }
    }

    td {
        padding: $table-padding;
    }

    tbody {
        // tr:nth-child(even) {
        //     background-color: rgb(200, 231, 238);
        // }
        tr td {
            border-bottom: $table-border;
        }
    }
}
