{% extends 'base.html.twig' %}
{% block body %}
    <div id="row">
       <h1><span>Welcome to</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
	   <p>This is the base page for AppBundle</p>
    </div>
{% endblock %}
